<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="image/upload" enctype="multipart/form-data">
      <div>
          <label>Select your artwork:</label>
          <input type="file" name="artwork" />
      </div>
      <div>
        <label>Author: </label>
        <input type="text" name="author" />
      </div>
      <div>
        <label>Artwork Title: </label>
        <input type="text" name="title" />
      </div>
      <div>
          <input type="submit" name="btn_upload_image" value="Upload" />
      </div>
    </form>
    <form method="POST" action="image/check" enctype="multipart/form-data">
      <div>
        <label>Check artwork:</label>
        <input type="file" name="checkImg" />
      </div>
      <div>
        <input type="submit" name="btn_upload_image" value="Check" />
      </div>
    </form>
  </body>
</html>
